<nav class="container_login ">
   

    {% if idLogin is null and idCanilUser is null %}

    <button  class="logIn">Entrar</button>    
    
    {% else %}
    <div class="user">
        <div class="user_header">
            <div class="img_user">
                <img src="app/Uploads/Archives/{{imgPath}}" alt="" >
            </div>   
            <div class="name_user">
                <h3>{{nomeUsuario}}</h3> 
            </div>
        </div>    
        <div class="conteudo-hover hidden">
            <div class="info_user">
                {% if idCanilUser is defined and idLogin is null %}
                <a href="http://amigos4patas.com/?pagina=Canil&idCanil={{idCanilUser }}">Meus pets</a>
                {% else %}
                <a href="http://amigos4patas.com/?pagina=User&idUser={{idLogin}}">Meu Perfil</a>
                {% endif %}
             
                <a href="http://amigos4patas.com/?pagina=EditProfile">
                    <p>Editar Perfil</p>
                </a>
                
                <hr>
                <a href="http://amigos4patas.com/?pagina=LogOut">
                    <input type="submit" value="Sair">
                </a>
            </div>
        </div>
    </div>
    {% endif %}  
    <img  class="menu" src="public/assets/img/icons8-menu-circulado-100.png">
    </nav>
   </div>
  
</div>

    <div class="bg">
        <div class="form" id="form1">
        <button class="btnClose">x</button>
        <h2 class="msg_form">Bem-vindo de volta</h2>
        <form method="post" action="?pagina=Login&metodo=LoginUser" >
            <input type="text" name="login" placeholder="E-mail" required>
            <input type="password" name="senha" placeholder="senha" required>
            <h3 class="text_modal"><a href="http://amigos4patas.com/?pagina=RecuperarSenha">esqueceu a senha?</a></h3>
            <input type="submit" value="Entrar">
            <h3 class="text_modal"><a href="http://amigos4patas.com/?pagina=Cadastro">Nao sou cadastrado</a></h3>
        </form>

        </div>
    </div>

        <div class="bg_mobile_menu">    
            <nav class= "mobile_menu">
                    <p class="close">></p>
                    <div class="text_menu">
                        <nav>
                            <ul>
                                <li><a href="http://amigos4patas.com/?pagina=home">Home</a></li>
                                <li><a href="http://amigos4patas.com/?pagina=feed">Publicações</a></li>
                                <li><a href="http://amigos4patas.com/?pagina=pets">Pets</a></li>
                                {% if idLogin is null and idCanilUser is null %}

                                <li><a href="http://amigos4patas.com/?pagina=Login">Entrar</a></li>
                
                                {% elseif idCanilUser is defined and idLogin is null %}
                                <li><a href="http://amigos4patas.com/?pagina=Canil&idCanil={{idCanilUser }}">Meus pets</a></li>
                                <a href="http://amigos4patas.com/?pagina=LogOut">
                                    <input type="submit" value="Sair">
                                </a>
                                {% elseif idCanilUser is null and idLogin is defined%}
                               <li> <a href="http://amigos4patas.com/?pagina=User&idUser={{idLogin}}">Meu Perfil</a></li>
                                <a href="http://amigos4patas.com/?pagina=LogOut">
                                    <input type="submit" value="Sair">
                                </a>
                                {% else %}
                                <a href="http://amigos4patas.com/?pagina=LogOut">
                                    <input type="submit" value="Sair">
                                </a>
                                {% endif %}  

                            </ul>
                        </nav>  
                    </div>
                    {% if not idLogin is defined or idCanilUser is not defined %}
                    <div class="user hidden">
                        <div class="img_user hidden">
                            <img src="app/Uploads/Archives/{{imgPath}}" alt="" >
                        </div>
                        <div class="name_user">
                            <h3>{{nomeUsuario}}</h3> 
                            
                       
                        </div>
                    </div>
                {% else %}
                    <div class="user">
                        <div class="img_user" >
                            <img src="app/Uploads/Archives/{{imgPath}}" alt="" >
                        </div>
                        <div class="name_user">
                            <h3>{{nomeUsuario}}</h3> 
                 
                  
                        </div>
                    </div>
                {% endif %}
                
                
            </nav>
        </div>
    </header> 
    <div class="box_login">
        <div class="user_info postagemForm">
            <h3 class="title">Foto atual da postagem</h3>
            <div class="images_pet">
                <img src="app/Uploads/Archives/{{imgPathostagemtSingle}}">
            </div>
          
            <form action="?pagina=EditPostagem&metodo=updatePostagem&idPostagem={{idPostagem}}" method="post" enctype="multipart/form-data">
                <label for="TituloPostagem">Novo Título da Postagem</label>
                <input type="text" id="TituloPostagem" name="tituloPostagem" value="{{tituloPostagem}}" required>
                
                <label for="TextoPostagem">Novo Conteúdo da Postagem</label>
                <textarea id="TextoPostagem" cols="30" rows="5" name="textoPostagem"   required>{{textoPostagem}}</textarea>
                <h3>Nova foto da postagem</h3>
                <label class="picture" for="picture__input" tabIndex="0">
                    <span class="picture__image"></span>
                </label>
                <input type="file" name="pictureUser" id="picture__input">
                
                <input type="submit" value="Editar Postagem" name="updatePostagem">
            </form>
            <form action="?pagina=EditPostagem&metodo=excluirPostagem&idPostagem={{idPostagem}}" method="post">
                <div class="btn_delete">
                     <input type="image" src="public/assets/img/excluir.png" name="ExcluirPostagem" onclick="return confirm('Você tem certeza que deseja excluir esta postagem?');" alt="Excluir Postagem">
                </div>
               
            </form>
      
    
            
        </div>
    </div>
