<nav class="container_login ">
   

    {% if idLogin is null and idCanilUser is null %}

    <button  class="logIn">Entrar</button>    
    
    {% else %}
    <div class="user">
        <div class="user_header">
            <div class="img_user">
                <img src="app/Uploads/Archives/{{imgPath}}" alt="" >
            </div>   
            <div class="name_user">
                <h3>{{nomeUsuario}}</h3> 
            </div>
        </div>    
        <div class="conteudo-hover hidden">
            <div class="info_user">
                {% if idCanilUser is defined and idLogin is null %}
                <a href="http://amigos4patas.com/?pagina=Canil&idCanil={{idCanilUser }}">Meus pets</a>
                {% else %}
                <a href="http://amigos4patas.com/?pagina=User&idUser={{idLogin}}">Meu Perfil</a>
                {% endif %}
             
                <a href="http://amigos4patas.com/?pagina=EditProfile">
                    <p>Editar Perfil</p>
                </a>
                
                <hr>
                <a href="http://amigos4patas.com/?pagina=LogOut">
                    <input type="submit" value="Sair">
                </a>
            </div>
        </div>
    </div>
    {% endif %}  
    <img  class="menu" src="public/assets/img/icons8-menu-circulado-100.png">
    </nav>
   </div>
  
</div>

    <div class="bg">
        <div class="form" id="form1">
        <button class="btnClose">x</button>
        <h2 class="msg_form">Bem-vindo de volta</h2>
        <form method="post" action="?pagina=Login&metodo=LoginUser" >
            <input type="text" name="login" placeholder="E-mail" required>
            <input type="password" name="senha" placeholder="senha" required>
            <h3 class="text_modal"><a href="http://amigos4patas.com/?pagina=RecuperarSenha">esqueceu a senha?</a></h3>
            <input type="submit" value="Entrar">
            <h3 class="text_modal"><a href="http://amigos4patas.com/?pagina=Cadastro">Nao sou cadastrado</a></h3>
        </form>

        </div>
    </div>

        <div class="bg_mobile_menu">    
            <nav class= "mobile_menu">
                    <p class="close">></p>
                    <div class="text_menu">
                        <nav>
                            <ul>
                                <li><a href="http://amigos4patas.com/?pagina=home">Home</a></li>
                                <li><a href="http://amigos4patas.com/?pagina=feed">Publicações</a></li>
                                <li><a href="http://amigos4patas.com/?pagina=pets">Pets</a></li>
                                {% if idLogin is null and idCanilUser is null %}

                                <li><a href="http://amigos4patas.com/?pagina=Login">Entrar</a></li>
                
                                {% elseif idCanilUser is defined and idLogin is null %}
                                <li><a href="http://amigos4patas.com/?pagina=Canil&idCanil={{idCanilUser }}">Meus pets</a></li>
                                <a href="http://amigos4patas.com/?pagina=LogOut">
                                    <input type="submit" value="Sair">
                                </a>
                                {% elseif idCanilUser is null and idLogin is defined%}
                               <li> <a href="http://amigos4patas.com/?pagina=User&idUser={{idLogin}}">Meu Perfil</a></li>
                                <a href="http://amigos4patas.com/?pagina=LogOut">
                                    <input type="submit" value="Sair">
                                </a>
                                {% else %}
                                <a href="http://amigos4patas.com/?pagina=LogOut">
                                    <input type="submit" value="Sair">
                                </a>
                                {% endif %}  

                            </ul>
                        </nav>  
                    </div>
                    {% if not idLogin is defined or idCanilUser is not defined %}
                    <div class="user hidden">
                        <div class="img_user hidden">
                            <img src="app/Uploads/Archives/{{imgPath}}" alt="" >
                        </div>
                        <div class="name_user">
                            <h3>{{nomeUsuario}}</h3> 
                            
                       
                        </div>
                    </div>
                {% else %}
                    <div class="user">
                        <div class="img_user" >
                            <img src="app/Uploads/Archives/{{imgPath}}" alt="" >
                        </div>
                        <div class="name_user">
                            <h3>{{nomeUsuario}}</h3> 
                 
                  
                        </div>
                    </div>
                {% endif %}
                
                
            </nav>
        </div>
    </header> 
 <section class="container_pet">
        <div class="pet_profile">
            <div class="images_pet">
                <img src="app/Uploads/Archives/{{imgPathPetSingle}}">
            </div>
            <div class="info_pets">
                <div class="pet_box">
                    <div class="name_pet">
                        <h1>{{nomePet}}</h1>
                    </div>
                  
                

    

                </div>
                <div class="categories_pet">
                    <h3>Sexo: {{sexo}}</h3>
                    <h3>Castrado: {{castrado}}</h3>
                    <h3>Raça: {{raca}}</h3>
                    <h3>porte: {{pet_porte}}</h3>
                    <h3>Cor: {{cor}}</h3>
                    <h3>{% if idadePet == 0 %}
                       Idade: Menos de 1 ano de idade
                        
                        {% elseif idadePet == 1 %}
                        Idade:
                        {{idadePet}} ano
                        {% else %}
                        Idade:
                        {{idadePet}} anos
                        {% endif %}
                         
                    
                </div>
                <div class="description_pet">
                    <h3>{{pet_descricao}}</h3>
                </div>
                <div class="canil_info">
                    
                 <h1>Lar de adoção Responsavel:
                 <a class="Canil_link" href="http://amigos4patas.com/?pagina=Canil&idCanil={{idCanil}}">
                 <div class="profile_canil">
                    <div class="img_user">  
                        <img src="app/Uploads/Archives/{{imgPathCanilPageProfile}}" alt="">
                      </div>
                        <div class="info_canil">
                         {{nomeCanil}}
                    
                      <small>({{canil_loc}})</small>
                    </div>
                   </div>
                      </a>
                      </h1>
                
                        <button class="btn_contato">
                            <a href="https://wa.me/55{{numContato}}?text=Ola! Vi o/a {{nomePet}} no Amigo 4 Patas">Entrar em contato</a>

                        </button>
            
                </div>
           
            </div>
        </div>
    <center>
        <h1>Outros Pets</h1>
    </center>
        <div class="pets_grid pet_single">
            {% for key, nomePet in nomePets %}
            <div class="box_pet">
                <a href="http://amigos4patas.com/?pagina=petSingle&idpet={{ idPet[key] }}">
                    <div class="pet_img">
                        <img src="app/Uploads/Archives/{{ imgPathPet[key] }}" alt="">
                    </div>
                    <div class="pet_name">
                        <h3>
                            {{ nomePet }}
                        </h3>
                    </div> 
                </a> 
            </div>
        {% endfor %}
        </div>
        
              
             
            
      
        </div>