<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigo 4 patas</title>
    <link rel="stylesheet" href="public/assets/css/style.css">
    <link rel="stylesheet" href="public/assets/css/postagem.css">
    <link rel="stylesheet" href="public/assets/css/user.css">
    <link rel="stylesheet" href="public/assets/css/responsive.css">
    <link rel="stylesheet" href="public/assets/css/pets.css">
    <link rel="stylesheet" href="public/assets/css/pet_single.css">
    <link rel="stylesheet" href="public/assets/css/Canil.css">
    <link rel="stylesheet" href="public/assets/css/login.css">
   
    <link rel="icon" href="public/assets/img/Icon.png" type="image/x-icon">
</head>
<body>

  
    <header class="dogpng">
        <div class="container_header">
            <nav class="box_header">
                <ul>
                    <div class="logo"> <a href="http://amigos4patas.com/?pagina=home"><img src="public/assets/img/logo.png"></a></div>
                    <li><a  class="home" href="http://amigos4patas.com/?pagina=home">Home</a></li>
                    <li><a class="Navpets" href="http://amigos4patas.com/?pagina=pets">Pets</a></li> 
                    <li><a class="Navpets" href="http://amigos4patas.com/?pagina=feed">Blog</a></li>
                    
                    
                   
                </ul>
            </nav>

      
      

            <div class="content">
                {{area_dinamica}}
            </div>
        
         <footer>
                <div class="footer_box">
                    <div class="container_info">
                        <div class="dev">
                            <h3>Email do desenvolvedor</h3>
                            <p><a href="mailto:joao.victor.martinho2@gmail.com">joao.victor.martinho2@gmail.com</a></p>
                        
                        <p>Site desenvolvido para divulgação de Lares de adoção sem fins lucrativos</p>
                    </div>
                    </div>
                    <div class="img_site">
                        <div class="logo_footer">
                            <a href="http://amigos4patas.com/?pagina=home">
                                <img src="public/assets/img/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
            
        </body>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>    
<script src="public/assets/scripts/func.js"></script>
</html>